/* Text colors */
$base_color: #FFFFFF;
$active_color: #FF9900;
$dark_color: #212529;
$grey_color: #757575;
$light_color: #C8C9CA;
$white:  #FFFFFF;

/* Background colors */
$darker_bg: #151515;
$dark_bg: #171616;
$light_dark_bg: #1A1A1A;
$light_light_dark_bg: #2A2A2A;
$light_grey_bg: #F1F0F0;
$light_bg: #f8f9fa;

/* Override bootstrap variables */
$blue:    #0a4380;
$green:   #026116;
$cyan:    #065461;
$red:     #6f0913;
$yellow:  #795c03;

/* Widget height */

$widget_height : 200px;
